html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

/*!
 * pagepiling.js 1.5.4
 *
 * https://github.com/alvarotrigo/pagePiling.js
 * @license MIT licensed
 *
 * Copyright (C) 2016 alvarotrigo.com - A project by Alvaro Trigo
 */
html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent;
}

.pp-section {
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.pp-easing {
  transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  /* custom */
}

#pp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
}

#pp-nav.right {
  right: 17px;
}

#pp-nav.left {
  left: 17px;
}

.pp-section.pp-table {
  display: table;
}

.pp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}

.pp-slidesNav.bottom {
  bottom: 17px;
}

.pp-slidesNav.top {
  top: 17px;
}

#pp-nav ul,
.pp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#pp-nav li,
.pp-slidesNav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.pp-slidesNav li {
  display: inline-block;
}

#pp-nav li a,
.pp-slidesNav li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
  background: #333;
}

#pp-nav span,
.pp-slidesNav span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.pp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
}

.pp-tooltip.right {
  right: 20px;
}

.pp-tooltip.left {
  left: 20px;
}

.pp-scrollable {
  overflow-y: scroll;
  height: 100%;
}

html {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: RGBA(52, 48, 65, 1);
}

.right .container {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.right h1, .right p {
  margin-left: 10vw;
}

.left h1 {
  margin-left: -10%;
}

.pp-tableCell {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 90vw;
  height: 90vh;
  background-color: white;
  box-shadow: 10px 10px 10px RGBA(40, 40, 40, 0.2);
  transition: all cubic-bezier(0.55, 0.085, 0, 0.99);
  transition-duration: 0s;
}

.bg-color {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  transition: background-color cubic-bezier(0.55, 0.085, 0, 0.99);
  transition-duration: 0s;
}

.image-comp {
  width: 120%;
  height: 100%;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  transition: margin-top 1s cubic-bezier(0.55, 0.085, 0, 0.99);
}

.content {
  width: 80%;
  z-index: 100;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content p {
  font-family: 'open sans';
  font-weight: lighter;
  line-height: 2em;
  width: 70%;
  font-size: 0.6em;
  margin: 10px 0 20px;
  color: RGBA(40, 40, 40, 1);
  background-color: white;
  padding: 20px 30px;
  transition-delay: 600ms;
}

.content h1 {
  font-family: 'Butler';
  font-weight: 700;
  font-size: 5vw;
  text-transform: uppercase;
  text-shadow: 10px 10px 20px RGBA(40, 40, 40, 0.1);
  transition-delay: 400ms;
}

.content h1 span {
  font-weight: lighter;
  font-family: 'helvetica';
  font-size: 0.4em;
  display: block;
  margin-bottom: 10px;
}

.content h1, .content p {
  transition: opacity 1.8s cubic-bezier(0.55, 0.085, 0, 0.99), margin-left 1.3s cubic-bezier(0.55, 0.085, 0, 0.99), top 1s cubic-bezier(0.55, 0.085, 0, 0.99);
  position: relative;
  top: 0;
}

.image, .frame, .plain, .shadow {
  position: absolute;
  transition: width 1.2s cubic-bezier(0.55, 0.085, 0, 0.99), margin 1s cubic-bezier(0.55, 0.085, 0, 0.99), opacity 1s cubic-bezier(0.55, 0.085, 0, 0.99);
}

.image {
  width: 600px;
  height: 600px;
  background-size: cover;
  transition-delay: 400ms;
  box-shadow: 10px 10px 20px RGBA(40, 40, 40, 0.1);
}

.plain {
  width: 600px;
  height: 500px;
  transition-delay: 500ms;
  box-shadow: 5px 5px 10px RGBA(40, 40, 40, 0.1);
}

.frame svg path {
  fill: none;
  stroke: RGBA(246, 243, 245, 1);
  stroke-width: 16;
}

.shadow.out {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 10px 10px 30px RGBA(40, 40, 40, 0.1);
}

.shadow.in {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 8px;
  left: 8px;
  box-shadow: inset 10px 10px 30px RGBA(40, 40, 40, 0.02);
}

.cook .image {
  background-image: url("../assets/img/cook.jpg");
  background-position: 80% 80%;
  margin-left: -20px;
  margin-top: -20px;
}

.cook .plain {
  background-color: RGBA(220, 194, 93, 1);
  margin-left: 120px;
  margin-top: 80px;
}

.music .image {
  background-image: url("../assets/img/headphone.jpg");
  background-position: 99% 99%;
  margin-left: -50px;
  margin-top: 20px;
}

.music .plain {
  background-color: RGBA(49, 170, 166, 1);
  margin-left: -200px;
  margin-top: -60px;
}

.music .frame {
  margin-left: 0;
}

.music p {
  margin-left: 10vw;
}

.sing .image {
  background-image: url("../assets/img/sing.jpg");
  background-position: 18% 99%;
  margin-left: -20px;
  margin-top: -20px;
}

.sing .plain {
  background-color: #7CA047;
  margin-left: 120px;
  margin-top: 80px;
}

.write .image {
  background-image: url("../assets/img/write.jpg");
  background-position: 32% 99%;
  margin-left: -50px;
  margin-top: 20px;
}

.write .plain {
  background-color: RGBA(67, 65, 78, 1);
  margin-left: -200px;
  margin-top: -60px;
}

.write p {
  margin-left: 10vw;
}

.design .image {
  background-image: url("../assets/img/design.jpg");
  background-position: 20% 80%;
  margin-left: -40px;
  margin-top: -20px;
}

.design .plain {
  background-color: RGBA(174, 58, 103, 1);
  margin-left: 120px;
  margin-top: 80px;
}

.hidden .plain, .hidden .image {
  width: 0;
  box-shadow: 0px 0px 0px RGBA(40, 40, 40, 0);
}

.hidden .plain, .hidden .image, .hidden h1, .hidden p {
  opacity: 0;
}

.hidden.left h1, .hidden.left p, .hidden.left .plain, .hidden.left .image {
  margin-left: -350px;
}

.hidden.right h1, .hidden.right p, .hidden.right .plain, .hidden.right .image {
  margin-left: 350px;
}

#pp-nav.custom .pp-tooltip {
  color: #AAA;
}

#markup {
  display: block;
  width: 450px;
  margin: 20px auto;
  text-align: left;
}

.link-side {
  position: fixed;
  border-bottom: 2px solid black;
  top: 0;
  right: 0;
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-bottom: 10px;
  margin: 5vh -11.5vh 0 0;
  width: 32vh;
  transition: all 1s ease;
  z-index: 101;
}

.link-side a {
  text-decoration: none;
}

.link-side p {
  font-size: 0.6em;
  color: black;
  padding-left: 5vh;
  margin-left: 12vh;
  width: 35vh;
  transition: all 0.5s ease;
}

.link-side:hover {
  margin-top: 6vh;
}

.link-side:hover p {
  letter-spacing: 0.1em;
  cursor: pointer;
}

.up-animation .plain, .up-animation .frame, .up-animation .image {
  margin-top: -1200px;
}

.up-animation h1, .up-animation p {
  top: -1200px;
}

.down-animation .image-comp {
  margin-top: 1200px;
}

.down-animation h1, .down-animation p {
  top: 1200px;
}

@media only screen and (max-width: 1200px) {
  .image-comp {
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 1000px) {
  .image-comp {
    width: 130%;
  }
  .content {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .bg-color {
    background-color: white;
  }
  .right .container {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .container {
    background-color: none;
    box-shadow: none;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .image-comp {
    height: 100%;
    margin-top: -20vh;
    margin-left: 10vw;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .content {
    height: 100%;
    margin-top: 5vh;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .content h1 {
    font-size: 8vw;
  }
  .content p {
    margin-right: -10vw;
    width: 35vw;
  }
  .right .content h1 {
    margin-left: -9vw;
  }
  .right .content p {
    margin-left: -15vw;
  }
  .write .plain {
    margin-left: 100px;
    margin-top: -150px;
  }
  .music .plain {
    margin-left: 100px;
    margin-top: -150px;
  }
}

@media only screen and (max-width: 750px) {
  .image-comp {
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    margin-left: 2vw;
  }
  .content h1 {
    font-size: 10vw;
  }
  .content p {
    width: 30vw;
  }
}

@media only screen and (max-width: 700px) {
  .content {
    margin-top: 0;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    /*align-items: flex-start;*/
  }
  .content p {
    width: 80vw;
    margin-left: -10vw;
  }
  .image-comp {
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: -10vw;
    margin-bottom: -5vh;
    -ms-transform: scale(0.65);
    transform: scale(0.65);
  }
}

@media only screen and (max-width: 550px) {
  .image-comp {
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 480px) {
  .image-comp {
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    margin-bottom: -15vh;
  }
  .content {
    margin-top: -50vh;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .content p {
    width: 90vw;
    font-size: 0.55em;
    margin-left: -12vw;
  }
  .content h1 {
    font-size: 11vw;
  }
}
