@media only screen and (max-width: 1200px){
  .image-comp {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 1000px){
  .image-comp {
    width: 130%;
  }
  .content {
    width: 70%;
  }
}

@media only screen and (max-width: 900px){
  .bg-color {
    background-color: white;
  }
  .right .container {
  	flex-direction: column-reverse;
  }
  .container {
    background-color: none;
    box-shadow: none;
    flex-direction: column-reverse;
  }
  .image-comp {
    height: 100%;
    margin-top: -20vh;
    margin-left: 10vw;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .content {
    height: 100%;
    margin-top: 5vh;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .content h1 {
    font-size: 8vw;
  }
  .content p {
    margin-right: -10vw;
    width: 35vw;
  }
  .right .content h1 {
		margin-left: -9vw;
	}
  .right .content p {
		margin-left: -15vw;
	}
  .write .plain {
    margin-left: 100px;
    margin-top: -150px;
  }
  .music .plain {
    margin-left: 100px;
    margin-top: -150px;
  }
}

@media only screen and (max-width: 750px){
  .image-comp {
    transform: scale(0.7);
    margin-left: 2vw;
  }
  .content h1 {
    font-size: 10vw;
  }
  .content p {
    width: 30vw;
  }
}

@media only screen and (max-width: 700px){
  .content {
    margin-top: 0;
    justify-content: flex-start;
    align-items: flex-start;
    /*align-items: flex-start;*/
  }
  .content p {
    width: 80vw;
    margin-left: -10vw;
  }
  .image-comp {
    justify-content: center;
    margin-left: -10vw;
    margin-bottom: -5vh;
    transform: scale(0.65);
  }
}

@media only screen and (max-width: 550px){
  .image-comp {
    transform: scale(0.60);
  }
}

@media only screen and (max-width: 480px){
  .image-comp {
    transform: scale(0.50);
    margin-bottom: -15vh;
  }
  .content {
    margin-top: -50vh;
    justify-content: flex-end;
  }
  .content p {
    width: 90vw;
    font-size: 0.55em;
    margin-left: -12vw;
  }
  .content h1 {
    font-size: 11vw;
  }
}
