@import 'reset';
@import 'pagepiling';

html {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color: RGBA(52, 48, 65, 1.00);
}

h1 {
	font-family: 'Butler';
	font-weight: 700;
	font-size: 5vw;
	text-transform: uppercase;
	text-shadow: 10px 10px 20px RGBA(40, 40, 40, 0.1);
	span {
		font-weight: lighter;
		font-family: helvetica;
		font-size: 0.4em;
		display:block;
		margin-bottom: 10px;
	}
}

.pp-tableCell {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	position: relative;
	left: 80px;
	top: -10px;
	z-index: 100;
}

section {
	p {
		font-family: 'open sans';
		font-weight: lighter;
		line-height: 2em;
		width: 30vw;
		font-size: 0.6em;
		// margin-left: 100px;
		margin: 10px 0 20px 120px;
		color: RGBA(40, 40, 40, 1.00);
		background-color: white;
		padding: 20px 30px;
	}
	&.right-section, &.left-section {
		z-index: 100;
	}

}

.ipsum-side {
	position: fixed;
	border-bottom: 2px solid black;
	top: 0;
	right: 0;
	transform: rotate(90deg);
	padding-bottom: 10px;
	margin: 5vh -11.5vh 0 0;
	width: 32vh;
	transition: all 1s ease;
	z-index: 101;
	a {
		text-decoration: none;
	}
	p {
		font-size: 0.6em;
		color: black;
		padding-left: 5vh;
		margin-left: 12vh;
		width: 35vh;
		transition: all 0.5s ease;
	}
	&:hover {
		margin-top: 6vh;
		p {
			letter-spacing: 0.1em;
			cursor: pointer;
		}
	}
}

.container {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 90vw;
	height: 90vh;
	background-color: white;
	box-shadow: 10px 10px 10px RGBA(40, 40, 40, 0.2);
	transition: all cubic-bezier(0.550, 0.085, 0.000, 0.990);
	transition-duration: 0s;
}

.bg-color {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
	width: 100%;
	height: 100%;
	transition: background-color cubic-bezier(0.550, 0.085, 0.000, 0.990);
	transition-duration: 0s;
}

.image-comp {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.right-section {
	width: 100%;
	z-index: 99;
}

.image, .frame, .plain, .shadow {
	position: absolute;
	top: 50%;
	left: 50%;
}

.plain, .image {
	transition: width 1s cubic-bezier(0.550, 0.085, 0.000, 0.990), margin 1s cubic-bezier(0.550, 0.085, 0.000, 0.990);
	&.hidden {
		width: 0;
		opacity: 0;
		transition: width 1s cubic-bezier(0.550, 0.085, 0.000, 0.990);
		box-shadow: 0px 0px 0px RGBA(40, 40, 40, 0.0);
		&.left {
			margin-left: -20vw;
		}
		&.right {
			margin-left: 20vw;
		}
	}
}

.image {
	margin-left: -20vw;
	margin-top: -20vw;
	width: 40vw;
	height: 40vw;
	background-size: cover;
	transition-delay: 500ms;
	box-shadow: 10px 10px 20px RGBA(40, 40, 40, 0.1);
}

.frame {
	svg path{
		fill:none;
		stroke: RGBA(246, 243, 245, 1.00);
		stroke-width:16;
		margin-bottom: -10px;
	}
	margin-left: -18vw;
	margin-top: -23vw;
	// .shadow {
	// 	&.out {
	// 		width: 40vw;
	// 		height: 40vw;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		box-shadow: 10px 10px 30px RGBA(40, 40, 40, 0.1);
	// 	}
	// 	&.in {
	// 		width: 40vw;
	// 		height: 40vw;
	// 		position: absolute;
	// 		top: 8px;
	// 		left: 8px;
	// 		box-shadow: inset 10px 10px 30px RGBA(40, 40, 40, 0.02);
	// 	}
	// }
}

.plain {
	width: 50vw;
	height: 40vw;
	margin-left: -15vw;
	margin-top: -18vw;
	transition-delay: 700ms;
	box-shadow: 5px 5px 10px RGBA(40, 40, 40, 0.1);
}

.music {
	.image {
		background-image: url("/Users/daphnedanneels/Desktop/pagepiling2/assets/img/headphone.jpg");
		background-position: 99% 99%;
		margin-left: -20vw;
		margin-top: -18vw;
	}
	.plain {
		background-color: RGBA(49, 170, 166, 1.00);
		margin-left: -35vw;
		margin-top: -20vw;
	}
	.frame{
		margin-left: -23vw;
	}
	.title {
		left: 20px;
		h1 {
			text-align: right;
		}
	}
	p {
		margin-left: 10vw;
	}
}
.cook {
	.image {
		background-image: url("/Users/daphnedanneels/Desktop/pagepiling2/assets/img/cook.jpg");
		background-position: 80% 80%;
	}
	.plain { background-color: RGBA(220, 194, 93, 1.00)}
}
.sing {
	.image {
		background-image: url("/Users/daphnedanneels/Desktop/pagepiling2/assets/img/sing.jpg");
		background-position: 18% 99%;
		margin-top: -18vw;
	}
	.plain {
		background-color: #7CA047;
		margin-left: -18vw;
		margin-top: -20vw;
	}
}
.write {
	.image {
		background-image: url("/Users/daphnedanneels/Desktop/pagepiling2/assets/img/write.jpg");
		background-position: 32% 99%;
		margin-left: -320px;
	}
	.plain {
		background-color: RGBA(67, 65, 78, 1.00);
		margin-left: -450px;
		margin-top: -150px;
	}
	.frame {
		margin-left: -370px;
	}
	.title {
		left: -120px;
	}
	h1 {
		text-align: right;
	}
}
.design {
	.image {
		background-image: url("/Users/daphnedanneels/Desktop/pagepiling2/assets/img/design.jpg");
		background-position: 20% 80%;
	}
	.plain { background-color: RGBA(174, 58, 103, 1.00)}
	.title { left: 180px; }
}

p, .title {
	opacity: 1;
	transition: opacity 1.8s cubic-bezier(0.550, 0.085, 0.000, 0.990), margin 1.3s cubic-bezier(0.550, 0.085, 0.000, 0.990);
	transition-delay: 500ms;
	&.hidden {
		opacity: 0;
		&.left { margin-left: -350px; }
		&.right { margin-left: 350px; }

	}
}

	#pp-nav.custom .pp-tooltip{
		color: #AAA;
	}
	#markup{
		display: block;
		width: 450px;
		margin: 20px auto;
		text-align: left;
	}

	.animate-out {
		transition: top 1s cubic-bezier(0.550, 0.085, 0.000, 0.990);
	}

	.up {
		top: -1800px;
	}

	.down {
		top: 1800px;
	}

@import 'mqueries';
