@import 'reset';
@import 'pagepiling';
@import 'variables';

html {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color: RGBA(52, 48, 65, 1.00);
}

.right {
	.container {
		flex-direction: row-reverse;
	}
	h1, p {
		margin-left: 10vw;
	}
}

.left {
	h1 {
		margin-left: -10%;
	}
}

.pp-tableCell {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 90vw;
	height: 90vh;
	background-color: white;
	box-shadow: 10px 10px 10px RGBA(40, 40, 40, 0.2);
	transition: all cubic-bezier(0.550, 0.085, 0.000, 0.990);
	transition-duration: 0s;
}

.bg-color {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
	width: 100%;
	height: 100%;
	transition: background-color cubic-bezier(0.550, 0.085, 0.000, 0.990);
	transition-duration: 0s;
}

.image-comp {
	width: 120%;
	height: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: margin-top 1s cubic-bezier(0.550, 0.085, 0.000, 0.990);
}

.content {
	width: 80%;
	z-index: 100;
	display: flex;
	flex-direction: column;
	p {
		font-family: 'open sans';
		font-weight: lighter;
		line-height: 2em;
		width: 70%;
		font-size: 0.6em;
		margin: 10px 0 20px;
		color: RGBA(40, 40, 40, 1.00);
		background-color: white;
		padding: 20px 30px;
		transition-delay: 600ms;
	}
	h1 {
		font-family: 'Butler';
		font-weight: 700;
		font-size: 5vw;
		text-transform: uppercase;
		text-shadow: 10px 10px 20px RGBA(40, 40, 40, 0.1);
		transition-delay: 400ms;
		span {
			font-weight: lighter;
			font-family: 'helvetica';
			font-size: 0.4em;
			display:block;
			margin-bottom: 10px;
		}
	}
	h1, p {
		transition: opacity 1.8s cubic-bezier(0.550, 0.085, 0.000, 0.990), margin-left 1.3s cubic-bezier(0.550, 0.085, 0.000, 0.990), top 1s cubic-bezier(0.550, 0.085, 0.000, 0.990);
		position: relative;
		top: 0;
	}
}

.image, .frame, .plain, .shadow {
	position: absolute;
	transition: width 1.2s cubic-bezier(0.550, 0.085, 0.000, 0.990), margin 1s cubic-bezier(0.550, 0.085, 0.000, 0.990), opacity 1s cubic-bezier(0.550, 0.085, 0.000, 0.990);
}

.image {
	width: 600px;
	height: 600px;
	background-size: cover;
	transition-delay: 400ms;
	box-shadow: 10px 10px 20px RGBA(40, 40, 40, 0.1);
}

.plain {
	width: 600px;
	height: 500px;
	transition-delay: 500ms;
	box-shadow: 5px 5px 10px RGBA(40, 40, 40, 0.1);
}

.frame {
	svg path{
		fill:none;
		stroke: RGBA(246, 243, 245, 1.00);
		stroke-width:16;
	}
}

.shadow {
	&.out {
		width: 600px;
		height: 600px;
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: 10px 10px 30px RGBA(40, 40, 40, 0.1);
	}
	&.in {
		width: 600px;
		height: 600px;
		position: absolute;
		top: 8px;
		left: 8px;
		box-shadow: inset 10px 10px 30px RGBA(40, 40, 40, 0.02);
	}
}


//content specifiek

.cook {
	.image {
		background-image: url("/Users/daphnedanneels/Desktop/pagepiling2/assets/img/cook.jpg");
		background-position: 80% 80%;
		margin-left: -20px;
		margin-top: -20px;
	}
	.plain {
		background-color: $yellow;
		margin-left: 120px;
		margin-top: 80px;
	}
	.frame { }
}

.music {
	.image {
		background-image: url("/Users/daphnedanneels/Desktop/pagepiling2/assets/img/headphone.jpg");
		background-position: 99% 99%;
		margin-left: -50px;
		margin-top: 20px;
	}
	.plain {
		background-color: $blue;
		margin-left: -200px;
		margin-top: -60px;
	}
	.frame{
		margin-left: 0;
	}
	p {
		margin-left: 10vw;
	}
}

.sing {
	.image {
		background-image: url("/Users/daphnedanneels/Desktop/pagepiling2/assets/img/sing.jpg");
		background-position: 18% 99%;
		margin-left: -20px;
		margin-top: -20px;
	}
	.plain {
		background-color: $green;
		margin-left: 120px;
		margin-top: 80px;
	}
}

.write {
	.image {
		background-image: url("/Users/daphnedanneels/Desktop/pagepiling2/assets/img/write.jpg");
		background-position: 32% 99%;
		margin-left: -50px;
		margin-top: 20px;
	}
	.plain {
		background-color: $grey;
		margin-left: -200px;
		margin-top: -60px;
	}
	p {
		margin-left: 10vw;
	}
}

.design {
	.image {
		background-image: url("/Users/daphnedanneels/Desktop/pagepiling2/assets/img/design.jpg");
		background-position: 20% 80%;
		margin-left: -40px;
		margin-top: -20px;
	}
	.plain {
		background-color: $pink;
		margin-left: 120px;
		margin-top: 80px;
	}

}

.hidden {
	.plain, .image {
		width: 0;
		box-shadow: 0px 0px 0px RGBA(40, 40, 40, 0.0);
	}
	.plain, .image, h1, p {
		opacity: 0;
	}
	&.left {
		h1, p, .plain, .image {
			margin-left: -350px;
		}
	}
	&.right {
		h1, p, .plain, .image {
			margin-left: 350px;
		}
	}
}

	#pp-nav.custom .pp-tooltip{
		color: #AAA;
	}
	#markup{
		display: block;
		width: 450px;
		margin: 20px auto;
		text-align: left;
	}

	.link-side {
		position: fixed;
		border-bottom: 2px solid black;
		top: 0;
		right: 0;
		transform: rotate(90deg);
		padding-bottom: 10px;
		margin: 5vh -11.5vh 0 0;
		width: 32vh;
		transition: all 1s ease;
		z-index: 101;
		a {
			text-decoration: none;
		}
		p {
			font-size: 0.6em;
			color: black;
			padding-left: 5vh;
			margin-left: 12vh;
			width: 35vh;
			transition: all 0.5s ease;
		}
		&:hover {
			margin-top: 6vh;
			p {
				letter-spacing: 0.1em;
				cursor: pointer;
			}
		}
	}

	.up-animation {
		.plain, .frame, .image {
			margin-top: -1200px;
		}
		h1, p {
			top: -1200px;
		}
	}

	.down-animation {
		.image-comp {
			margin-top: 1200px;
		}
		h1, p {
			top: 1200px;
		}
	}

@import 'mqueries';
